.calculator {
    height: 200px;
    width: 400px;
    margin: auto;
    background-color: rgb(226, 215, 215);
}

.display-box {
    background-color: rgb(255, 255, 255);
    border: solid black 3px;
    color: black;
    width: 100%;
}


input[type=button] {
    background-color: blue;
    color: white;
    border: solid black 3px;
    width: 100%;
}

input:active[type=button] {
    background: #e5e5e5;
}

.tableDiv{
    margin-left: 35%;
    margin-top: 15%;
    max-width: 415px;
    border: solid black 5px;
}