.header{
    margin-top: 2%;
    margin-left: 9%;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header h1{
    display: inline-grid;
}

hr{
    border-top: 1px solid;
    width: 80%;
}
 

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.flex-childII {
    flex: 0 0 93%;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.flex-childII:first-child {
    margin-right: 20px;
} 

